[Desktop Entry]
Name[ca]=Quilter
Name[de]=Quilter
Name[es]=Quilter
Name[fr]=Quilter
Name[it]=Quilter
Name[ja]=Quilter
Name[lt]=Quilter
Name[nl]=Quilter
Name[pl]=Quilter
Name[pt_BR]=Quilter
Name[da]=Quilter
Name[ru]=Quilter
Name[eo]=Quilter
Name=Quilter
Comment[fr]=Concentrez-vous sur votre écriture
Comment[ja]=書くことに集中します
Comment[nl]=Focus op schrijven
Comment[pl]=Skup się na pisaniu
Comment[da]=Fokuser på din skrivning
Comment[ru]=Сфокусируйтесь на письме
Comment[eo]=Fokusiĝi je via redaktado
Comment=Focus on your writing
Exec=io.github.lainsce.Quilter %U
Icon=io.github.lainsce.Quilter
Keywords[ja]=Text;Markdown;Editor;テキスト;マークダウン;エディター;
Keywords[nl]=Tekst;Markdown;Bewerker;
Keywords[pl]=Tekst;Markdown;Edytor;
Keywords=Text;Markdown;Editor;
MimeType=text/markdown;text/x-markdown;
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;Office;TextEditor;
