[Desktop Entry]
Name=Quilter
Comment=Focus on your writing
Exec=com.github.lainsce.quilter %U
Icon=com.github.lainsce.quilter
Keywords=Text;Plain;Plaintext;Editor;
MimeType=text/plain;text/markdown;
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;Office;TextEditor;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Name=About Quilter
Exec=com.github.lainsce.quilter --about
