.mono-font {
    font-family: 'Quilt Mono';
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
}

.vier-font {
    font-family: 'Quilt Vier';
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
}

.zwei-font {
    font-family: 'Quilt Zwei';
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
}

.small-text *,
.medium-text *,
.big-text *,
.mono-font *,
.vier-font *,
.zwei-font * {
    font-family: 'Cantarell';
    letter-spacing: 0em;
}

.circular {
    -gtk-outline-radius: 9999px;
}

.circular radio,
.circular radio:checked {
    padding: 10px;
    -gtk-icon-shadow: none;
}

.circular radio:focus {
    border-color: @theme_selected_bg_color;
}

.color-dark radio {
    background: #111;
    color: #111;
}

.color-light radio {
    background: #FFF;
    color: #FFF;
}

.color-sepia radio {
    background: #F0E8DD;
    color: #F0E8DD;
}

.quilter-focus-button {
    -gtk-icon-shadow: none;
    min-width: 24px;
    min-height: 24px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid alpha (black, 0.25);
}

.edit-view-paned {
    border-right: 1px solid alpha (black, 0.25);
}

.preview-row {
    border: 1px solid transparent;
    padding: 6px;
    margin-bottom: 6px;
    border-radius: 8px;
    box-shadow: none;
}
.preview-row:active,
.preview-row:hover,
.preview-row:selected {
    background: shade(@theme_bg_color, 1.2);
    color: @theme_fg_color;
    border: 1px solid alpha(black, 0.25);
}
.preview-row:active:hover,
.preview-row:selected:hover {
    background: shade(@theme_bg_color, 1.1);
    color: @theme_fg_color;
    border: 1px solid alpha(black, 0.25);
}

.circular-button {
    padding: 8px;
    border-radius: 9999px;
    -gtk-outline-radius: 9999px;
}

.mini-circular-button {
    padding: 4px;
    border-radius: 9999px;
    -gtk-outline-radius: 9999px;
}

.tiny-circular-button {
    padding: 0px;
    border-radius: 9999px;
    -gtk-outline-radius: 9999px;
}

.rename-button {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    border-top-style: none;
    border-bottom-style: none;
}
.rename-button:hover:not(:backdrop) {
    background-image: none;
    text-shadow: none;
}

.quilter-sidebar-box {
    color: @theme_fg_color;
}

.quilter-sidebar-box grid {
    margin-left: 6px;
    margin-right: 12px;
    margin: 2px;
}

.quilter-sidebar-box button {
    color: @theme_fg_color;
    box-shadow: none;
    border: none;
    -gtk-icon-shadow: none;
}
.quilter-sidebar-box:focus button,
.quilter-sidebar-box:selected button,
.quilter-sidebar-box:active button {
    background: alpha(black, 0.2);
}
.quilter-sidebar-box:hover button {
    background: alpha(@theme_fg_color, 0.15);
}

.quilter-sidebar-box:focus,
.quilter-sidebar-box:selected,
.quilter-sidebar-box:active,
.quilter-sidebar-box:hover {
    background: shade(@theme_base_color, 0.88);
}

.quilter-sidebar-box:active:backdrop,
.quilter-sidebar-box:selected:backdrop,
.quilter-sidebar-box:focus:backdrop,
.quilter-sidebar-box:hover:backdrop  {
    background: alpha(shade(@theme_base_color, 0.88), 0.88);
}

.quilter-searchbar {
    background: @theme_base_color;
    box-shadow: 0 0 0 1px alpha(black, .15),
              0 0 3px alpha(black, .2);
    border: none;
    padding: 6px;
    border-radius: 0 0 5px 5px;
    margin: 12px;
    margin-top: 0px;
}

.quilter-statusbar {
    background-color: none;
    box-shadow: none;
    border: none;
    padding: 6px;
}

.status-button {
    padding: 6px 12px;
}
