/* File will be useless once Handy widgets are styled */

viewswitcher, viewswitcher button { margin: 0; padding: 0; }
viewswitcher button { border-radius: 0; border-top: 0; border-bottom: 0; box-shadow: none; font-size: 1rem; }
viewswitcher button:not(:checked):not(:hover) { background: transparent; }viewswitcher button:not(:only-child):not(:last-child) { border-right-width: 0px; }
viewswitcher button:not(only-child):first-child:not(:checked):not(:hover), viewswitcher button:not(:checked):not(:hover) + button:not(:checked):not(:hover) { border-left-color: transparent; }
viewswitcher button:not(only-child):last-child:not(:checked):not(:hover) { border-right-color: transparent; }
viewswitcher button:not(:checked):hover:not(:backdrop) { background-image: image(lighter(@colorPrimary)); }
viewswitcher button:not(only-child):first-child:not(:checked):hover, viewswitcher button:not(:checked):hover + button:not(:checked):not(:hover), viewswitcher button:not(:checked):not(:hover) + button:not(:checked):hover { border-left-color: shade(@colorPrimary, 1.15);}
viewswitcher button:not(only-child):last-child:not(:checked):hover { border-right-color: shade(@colorPrimary, 1.15);}
viewswitcher button:not(:checked):hover:backdrop { background-image: image(@colorPrimary); }
headerbar viewswitcher button:not(:checked):hover:not(:backdrop) { background-image: linear-gradient(to top, shade(alpha(@colorPrimary, 0.7), 0.96) 2px, alpha(@colorPrimary, 0.7)); }
headerbar viewswitcher button:not(:checked):not(only-child):first-child:hover, headerbar viewswitcher button:not(:checked):hover + button:not(:checked):not(:hover), headerbar viewswitcher button:not(:checked):not(:hover) + button:not(:checked):hover { border-left-color:  @colorPrimary;}
headerbar viewswitcher button:not(:checked):not(only-child):last-child:hover { border-right-color: @colorPrimary, }
headerbar viewswitcher button:not(:checked):hover:backdrop { background-image: image(@colorPrimary); }
viewswitcher button > stack > box.narrow { font-size: 0.75rem; padding-top: 7px; padding-bottom: 5px; }
viewswitcher button > stack > box.narrow image, viewswitcher button > stack > box.narrow label { padding-left: 8px; padding-right: 8px; }
viewswitcher button > stack > box.wide { padding: 8px 12px; }
viewswitcher button > stack > box.wide label:dir(ltr) { padding-right: 7px; }
viewswitcher button > stack > box.wide label:dir(rtl) { padding-left: 7px; }
viewswitcher button > stack > box label.active { font-weight: bold; }
viewswitcherbar actionbar > revealer > box { padding: 0; }
