@define-color colorPrimary #e8dccb;
@define-color textColorPrimary #3b3228;
@define-color accentColor #07747B;

.quilter-toolbar {
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
}
.quilter-sidebar {
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
}
actionbar,
.action-bar {
    border-top-color: transparent;
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
}

.quilter-menu:hover,
.quilter-menu:backdrop:active {
    background-color: alpha (#07747B, 0.35);
}
