@define-color color_primary #f0e8dd;
@define-color text_color #3b3228;
@define-color accent #60C9C2;
@define-color accent_color_500 #60C9C2;

@define-color prefs_accent #AA9D85;
@define-color prefs_primary #e6e5e1;
@define-color prefs_fg #363431;

.quilter-dialog-hb,
.quilter-dialog-hb headerbar,
.quilter-dialog-hb actionbar,
.quilter-dialog-hb .combo {
    background: @prefs_primary;
    color: @prefs_fg;
}
.quilter-dialog-hb switch {
    background: shade(@prefs_primary, 0.75);
}
.quilter-dialog-hb switch slider {
    background: shade(@prefs_primary, 1.2);
}
.quilter-dialog-hb button:not(:checked):not(.titlebutton) {
    background: shade(@prefs_primary, 1.2);
    color: @prefs_fg;
}
.quilter-dialog-hb button.titlebutton {
    background: transparent;
    color: @prefs_fg;
    padding: 4px;
    margin: 5px;
}
.quilter-dialog-hb switch:checked {
    background: @prefs_accent;
}

.quilter-prefs-vs button {
    box-shadow: none;
    background-image: none;
    border-radius: 8px 0 0 8px;
    color: @prefs_fg;
}
.quilter-prefs-vs button:not(:first-child):not(:last-child) {
    box-shadow: none;
    background-image: none;
    border-radius: 0;
}
.quilter-prefs-vs button:last-child {
    box-shadow: none;
    background-image: none;
    border-radius: 0 8px 8px 0;
}
.quilter-prefs-vs button label {
    font-weight: 700;
    opacity: 0.8;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.quilter-prefs-vs button:not(:checked):not(:active) label {
    font-weight: 500;
    opacity: 0.8;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.quilter-prefs-vs button:not(:checked):not(:active) {

    border-top: 1px solid shade(mix (@prefs_accent, @prefs_primary, 0.95), 0.88);
    border-bottom: 1px solid shade(mix (@prefs_accent, @prefs_primary, 0.95), 0.88);
    background: mix(@prefs_accent, @prefs_primary, 0.95);
}
.quilter-prefs-vs button {
    background: shade(mix (@prefs_accent, @prefs_primary, 0.95), 0.88);
    border: 1px solid transparent;
}
.quilter-prefs-vs button:first-child {
    background: shade(mix (@prefs_accent, @prefs_primary, 0.95), 0.88);
    border-left: 1px solid shade(mix (@prefs_accent, @prefs_primary, 0.95), 0.88);
}
.quilter-prefs-vs button:last-child {
    background: shade(mix (@prefs_accent, @prefs_primary, 0.95), 0.88);
    border-right: 1px solid shade(mix (@prefs_accent, @prefs_primary, 0.95), 0.88);
}

.quilter-sidebar-switcher {
    background: mix(@accent, @color_primary, 0.90);
}
.quilter-sidebar-switcher button:not(:checked):not(:active) {
    border: 1px solid mix(shade(@accent, 1.2), @color_primary, 0.5);
    background: mix(@accent, @color_primary, 0.90);
}
.quilter-sidebar-switcher button {
    background: mix(shade(@accent, 1.2), @color_primary, 0.5);
    border: 1px solid transparent;
}
.quilter-sidebar-switcher button:first-child {
    border-left: 1px solid mix(shade(@accent, 1.2), @color_primary, 0.5);
}
.quilter-sidebar-switcher button:last-child {
    border-right: 1px solid mix(shade(@accent, 1.2), @color_primary, 0.5);
}

.quilter-toolbar .image-button:hover {
    background: shade(@color_primary, 0.88);
}

.quilter-toolbar .image-button:active,
.quilter-toolbar .image-button.toggle:checked {
    background: shade(@color_primary, 0.88);
}

.quilter-toolbar {
    background: shade(@color_primary, 1.04);
}

.quilter-toolbar-side {
    background: mix(@accent, @color_primary, 0.90);
    border: none;
}

.sb-sidebutton {
	background: shade(@color_primary, 0.88);
}

.quilter-sidebar {
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    background: mix(@accent, @color_primary, 0.90);
    color: @text_color;
}

.quilter-sidebar list,
.quilter-sidebar treeview.view {
    background: mix(@accent, @color_primary, 0.90);
}

.quilter-sidebar-box {
    padding: 3px;
    border-radius: 8px;
    border: 1px solid mix(shade(@accent, 1.2), @color_primary, 0.5);
    background-color: mix (@accent, @color_primary, 0.90);
}

.quilter-sidebar-box:selected,
.quilter-sidebar-box:active,
.quilter-sidebar-box:hover {
    padding: 3px;
    border-radius: 8px;
    border: 1px solid mix(shade(@accent, 1.2), @color_primary, 0.5);
    background-color: mix(shade(@accent, 1.2), @color_primary, 0.5);
    color: @text_color;
}

.preview-row:active,
.preview-row:selected {
    border: 1px solid alpha(shade(mix (@accent, @color_primary, 0.90), 0.88), 0.25);
    background-color: alpha(shade(mix (@accent, @color_primary, 0.90), 0.88), 0.25);
    color: @text_color;
}

.quilter-menu {
  border-radius: 99999px;
  -gtk-outline-radius: 99999px;
  background-color: #e8dccb;
  border: 1px solid #e8dccb;
}

.quilter-normal-view {
	background-color: #f0e8dd;
}

.osd {
  background-image: none;
  background-color: #e8dccb;
  box-shadow: none;
  border: 1px solid #e8dccb;
  color: #3b3228;
  -gtk-icon-shadow: 1px 1px transparent;
}

.osd:active,
.osd:focus {
  background-image: none;
  background-color: shade(#e8dccb,0.88);
  box-shadow: none;
  border: 1px solid shade(#e8dccb,0.88);
}
