@define-color colorPrimary #F7F7F7;
@define-color textColorPrimary #1a1a1a;
@define-color accentColor #00C6FF;
@define-color accent_color_500 #00C6FF;

window.background {
    background: @colorPrimary;
}

.quilter-toolbar {
    background: shade(@colorPrimary, 0.95);
    color: @textColorPrimary;
}

.quilter-toolbar image {
  -gtk-icon-shadow: 1px 1px transparent;
}
.sb-sidebutton {
	background: shade(@colorPrimary, 0.88);
}

.quilter-sidebar {
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
}

.quilter-sidebar list,
.quilter-sidebar treeview.view {
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
}
.quilter-sidebar image,
.quilter-task-button image {
    color: @textColorPrimary;
    -gtk-icon-shadow: 1px 1px transparent;
}

.quilter-sidebar-box {
  background: shade (@colorPrimary, 1.2);
}

.quilter-sidebar-box:hover {
  border-left: 5px solid shade (@colorPrimary, 0.95);
  color: @textColorPrimary;
  background: shade (@colorPrimary, 0.95);
}

.quilter-sidebar-box:active,
.quilter-sidebar-box:focus,
.quilter-sidebar-box:selected {
    border-left: 5px solid alpha (@accent_color_500, 0.5);
}

.quilter-sidebar-box:active:hover,
.quilter-sidebar-box:focus:hover,
.quilter-sidebar-box:selected:hover {
    border-left: 5px solid alpha (@accent_color_500, 0.7);
}

.quilter-menu {
  border-radius: 99999px;
  -gtk-outline-radius: 99999px;
  background-color: #E8E8E8;
  border: 1px solid #E8E8E8;
}

.osd {
  background-image: none;
  background-color: #E8E8E8;
  box-shadow: none;
  border: 1px solid #E8E8E8;
  color: #333;
  -gtk-icon-shadow: 1px 1px transparent;
}

.osd:active,
.osd:focus {
  background-image: none;
  background-color: shade(#E8E8E8,0.88);
  box-shadow: none;
  border: 1px solid shade(#E8E8E8,0.88);
}
