.color-button {
    border-radius: 8px;
    -gtk-outline-radius: 8px;
    text-shadow: 1px 1px transparent;
    padding: 6px;
}

.color-dark {
    background-color: #151515;
    border: 1px solid #717171;
    box-shadow:
        inset 0 0 0 1px alpha (shade (#3b3b3b, 1.4), 0.05),
        inset 0 1px 0 0 alpha (#3b3b3b, 0.45),
        inset 0 -1px 0 0 alpha (#5b5b5b, 0.15);
    background-image:
        linear-gradient(
            to bottom,
            transparent,
            transparent 50%,
            alpha (
                #333,
                0.04
            )
        );
}

.color-dark:active {
    border-color: #0DBCEE;
    box-shadow:
        inset 0 1px 0 0 alpha (#3b3b3b, 0.45),
        inset 0 -1px 0 0 alpha (#3b3b3b, 0.15),
        0 0 0 1px alpha (#AbAbAb, 0.25);
    transition: all 100ms ease-out;
}

.color-dark image {
    color: #C3C3C3;
    -gtk-icon-shadow: 1px 1px transparent;
}

.color-light {
    background-color: #FAFAFA;
    border: 1px solid #BFBFBF;
    box-shadow:
    inset 0 0 0 1px alpha (shade (#dddddd, 1.4), 0.05),
        inset 0 1px 0 0 alpha (#dddddd, 0.45),
        inset 0 -1px 0 0 alpha (#cccccc, 0.15);
        background-image:
        linear-gradient(
            to bottom,
            transparent,
            transparent 50%,
            alpha (
                #000,
                0.04
            )
        );
}

.color-light:active {
    border-color: #0073c5;
    box-shadow:
        inset 0 1px 0 0 alpha (#dddddd, 0.45),
        inset 0 -1px 0 0 alpha (#dddddd, 0.15),
        0 0 0 1px alpha (#eeeeee, 0.25);
    transition: all 100ms ease-out;
}

.color-light image {
    color: #191919;
    -gtk-icon-shadow: 1px 1px transparent;
}

.color-sepia {
    background-color: #F0E8DD;
    border: 1px solid #d0b896;
    box-shadow:
        inset 0 0 0 1px alpha (shade (#e0c8a6, 1.4), 0.05),
        inset 0 1px 0 0 alpha (#e0c8a6, 0.45),
        inset 0 -1px 0 0 alpha (#8D7768, 0.15);
    background-image:
        linear-gradient(
            to bottom,
            transparent,
            transparent 50%,
            alpha (
                #807452,
                0.04
            )
        );
}

.color-sepia:active {
    border-color: #00897b;
    box-shadow:
        inset 0 1px 0 0 alpha (#e0c8a6, 0.45),
        inset 0 -1px 0 0 alpha (#e0c8a6, 0.15),
        0 0 0 1px alpha (#d0b896, 0.25);
    transition: all 100ms ease-out;
}

.color-sepia image {
    color: #5D4738;
    -gtk-icon-shadow: 1px 1px transparent;
}

.color-moon {
    background-color: #111c27;
    border: 1px solid #606c81;
    box-shadow:
        inset 0 0 0 1px alpha (shade (#414e58, 1.4), 0.05),
        inset 0 1px 0 0 alpha (#414e58, 0.45),
        inset 0 -1px 0 0 alpha (#606c81, 0.15);
    background-image:
        linear-gradient(
            to bottom,
            transparent,
            transparent 50%,
            alpha (
                #807452,
                0.04
            )
        );
}

.color-moon:active {
    border-color: #4DBCEE;
    box-shadow:
        inset 0 1px 0 0 alpha (#414e58, 0.45),
        inset 0 -1px 0 0 alpha (#414e58, 0.15),
        0 0 0 1px alpha (#606c81, 0.25);
    transition: all 100ms ease-out;
}

.color-moon image {
    color: #C3C3C1;
    -gtk-icon-shadow: 1px 1px transparent;
}

actionbar,
.action-bar {
    border-top: 1px solid alpha (#000, 0.25);
}

.quilter-searchbar {
    border-top-color: transparent;
    border-bottom: 1px solid alpha (#000, 0.25);
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
    padding: 6px;
}

.quilter-toolbar {
    border-bottom: 1px solid alpha (#000, 0.25);
}

.quilter-sidebar {
    border-right: 1px solid alpha (#000, 0.25);
    margin: 0px;
}

.quilter-sidebar list,
.quilter-sidebar treeview.view {
    border: 1px solid transparent;
}

.quilter-sidebar button.radio {
    border-radius: 0;
}

.quilter-sidebar-button {
    background: alpha (mix (@bg_color, @fg_color, 0.5), 0.38);
    border: 1px solid alpha (#000, 0.25);
    border-radius: 50px;
    padding: 4px;
}

.quilter-sidebar-button:hover {
    background: alpha (mix (@bg_color, @accentColor, 0.5), 0.58);
}

.quilter-sidebar-button:active,
.quilter-sidebar-button:selected {
    background: alpha (mix (@bg_color, @accentColor, 0.5), 0.88);
}

.quilter-task-button {
    border: 1px solid alpha (#000, 0.25);
    background: transparent;
    border-radius: 50%;
    padding: 2px;
}

.quilter-task-button:active,
.quilter-task-button:selected {
    color: @textColorPrimary;
    -gtk-icon-shadow: 1px 1px transparent;
}

.quilter-sidebar-box {
    border-radius: 0 8px 8px 0;
    margin: 3px;
    margin-left: 0;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.quilter-sidebar-box > grid > label {
    color: @textColorPrimary;
}

.quilter-menu {
    background: @colorPrimary;
    color: @textColorPrimary;
    border: 1px solid alpha (@textColorPrimary, 0);
    background-image: none;
    padding: 3px;
}

.quilter-menu:hover {
    border: 1px solid alpha (@textColorPrimary, 0.35);
}

.quilter-cbt button {
    background: @colorPrimary;
    color: @textColorPrimary;
    border: 1px solid alpha (@textColorPrimary, 0);
    background-image: none;
	box-shadow: none;
}

.quilter-cbt button:hover {
    border: 1px solid alpha (@textColorPrimary, 0.35);
}

.quilter-focus-button {
  border-radius: 100px;
  -gtk-outline-radius: 100px;
  min-width: 48px;
  min-height: 48px;
  margin: 0;
  padding: 0;
}

.focus {
    border-radius: 4px;
}

.focus scrollbar,
.focus webkitwebview {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
