@define-color colorPrimary #2f3337;
@define-color textColorPrimary shade (@text_color, 0.9);

.quilter-toolbar {
    background-color: @colorPrimary;
    color: @textColorPrimary;
}

actionbar,
.action-bar {
    border-top-color: transparent;
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow:
        inset 1px 0 0 0 alpha (shade (@colorPrimary, 1.4), 0.6),
        inset -1px 0 0 0 alpha (shade (@colorPrimary, 1.4), 0.6),
        inset 0 -1px 0 0 alpha (shade (@colorPrimary, 1.4), 0.8);
}
