.color-button radio,
.color-button radio:checked {
    border-color: alpha (#000, 0.3);
    box-shadow:
        inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3);
    padding: 10px;
    -gtk-icon-shadow: none;
}

.color-button radio:focus {
    border-color: @colorAccent;
    box-shadow:
        inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
        inset 0 0 0 1px alpha (@bg_highlight_color, 0.05),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3),
        0 0 0 1px alpha (@colorAccent, 0.25);
}

.color-dark radio {
    background: #151515;
    border-color: @BLACK_700;
    color: #a5a5a5;
}

.color-light radio {
    background: #f7f7f7;
    color: #151515;
}

.color-sepia radio {
    background: #F0E8DD;
    color: #5D4738;
}

.statusbar {
    background-color: @colorPrimary;
	box-shadow: none;
	border: none;
    padding: 6px;
    padding-left: 0;
    border-radius: 0 0 6px 6px;
}

.statusbar box {
    padding-left: 0;
}

.full-bar {
    border-top: 1px solid transparent;
    background-color: transparent;
    border-radius: 0 0 6px 6px;
}

.quilter-searchbar {
    border-top-color: transparent;
    border-bottom: 1px solid alpha (black, 0.25);
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
    padding: 6px;
}

.quilter-toolbar {
    border-bottom: 1px solid alpha (black, 0.25);
    border-radius: 6px 6px 0 0;
    margin: 0;
    margin-right: 6px;
    margin-left: 6px;
    padding: 0;
}

.quilter-toolbar .image-button {
    margin-top: 7px;
    margin-bottom: 7px;
}

.quilter-sidebar {
    border-right: 1px solid alpha (black, 0.25);
    margin: 0px;
}

.quilter-sidebar button.radio {
    border-radius: 0;
    border-bottom: 1px solid alpha (black, 0.25);
}

.rounded .quilter-sidebar {
    border-top-left-radius: 6px;
}

.quilter-sidebar-button {
    border: 1px solid alpha (black, 0.25);
    border-radius: 50%;
    padding: 6px;
}

.quilter-sidebar-button:hover {
    background: alpha (mix (@bg_color, @accentColor, 0.5), 0.58);
}

.quilter-sidebar-button:active,
.quilter-sidebar-button:selected {
    background: alpha (mix (@bg_color, @accentColor, 0.5), 0.88);
}

.quilter-task-button {
    border: 1px solid alpha (black, 0.25);
    background: transparent;
    border-radius: 50%;
    padding: 2px;
}

.quilter-task-button:active,
.quilter-task-button:selected {
    color: @textColorPrimary;
    -gtk-icon-shadow: 1px 1px transparent;
}

.quilter-sidebar-box {
    border-radius: 0;
    margin-left: 0;
    margin-bottom: 0;
    border: 0px solid alpha (black, 0);
    border-top: 1px solid alpha (black, 0.25);
    border-bottom: 1px solid alpha (black, 0.25);
    border-left: 5px solid @colorPrimary;
}

.quilter-sidebar-box > grid > label {
    color: @textColorPrimary;
}

.quilter-menu {
    border: 1px solid alpha (@textColorPrimary, 0);
}

.quilter-menu:hover {
    border: 1px solid alpha (@textColorPrimary, 0.35);
}

.quilter-cbt button {
    background: none;
    color: @textColorPrimary;
    border: 1px solid alpha (@textColorPrimary, 0);
	box-shadow: none;
	border-radius: 6px;
}

.quilter-cbt button:hover {
    border: 1px solid alpha (@textColorPrimary, 0.35);
}

.quilter-focus-button {
  border-radius: 100px;
  -gtk-outline-radius: 100px;
  min-width: 48px;
  min-height: 48px;
  margin: 0;
  padding: 0;
}

.sep {
    border-top: 1px solid alpha (@textColorPrimary, 0.15);
    margin-bottom: -7px;
}

.subtitle {
    font-size: smaller;
}

.sb-sidebutton {
	padding: 10px;
	border-radius: 0 9999px 9999px 0;
}

.bold {
    font-weight: 700;
}

label:insensitive {
    opacity: 0.8;
}

.quilter-dialog-hb headerbar {
    border-bottom: 1px solid alpha (@textColorPrimary, 0.25);
    margin: 0;
    padding: 0;
}

.quilter-dialog-hb headerbar .titlebutton {
    margin-left: 6px;
}

.quilter-dialog-hb:dir(rtl) headerbar .titlebutton {
    margin-right: 6px;
}

.quilter-sidebar button.radio {
    border-radius: 0;
    border: transparent;
    border-bottom: 1px solid alpha (@textColorPrimary, 0.25);
}

