@define-color colorPrimary #f0e8dd;
@define-color textColorPrimary #3b3228;
@define-color accentColor #00897b;
@define-color accent_color_500 #00897b;

window.background.quilter-dialog-hb,
.quilter-dialog-hb headerbar,
.quilter-dialog-hb actionbar,
.quilter-dialog-hb .combo {
    background: @colorPrimary;
}
.quilter-dialog-hb button:not(:checked):not(:active):not(.titlebutton) {
    background: shade(@colorPrimary, 1.04);
}
.quilter-dialog-hb switch slider {
    background: shade(@colorPrimary, 1.04);
}

.quilter-toolbar {
    background: shade(@colorPrimary, 0.95);
    color: @textColorPrimary;
}
.quilter-toolbar image {
  -gtk-icon-shadow: 1px 1px transparent;
}
.sb-sidebutton {
	background: shade(@colorPrimary, 0.88);
}
.quilter-sidebar {
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
}
.quilter-sidebar list,
.quilter-sidebar treeview.view {
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
}
.quilter-sidebar image,
.quilter-task-button image {
    color: @textColorPrimary;
    -gtk-icon-shadow: 1px 1px transparent;
}

.quilter-sidebar-box {
  background: alpha (shade (@colorPrimary, 1.1), 0.5);
}

.quilter-sidebar-box:hover {
  border-left: 5px solid shade (@colorPrimary, 0.95);
  color: @textColorPrimary;
  background: shade (@colorPrimary, 0.95);
}

.quilter-sidebar-box:active,
.quilter-sidebar-box:focus,
.quilter-sidebar-box:selected {
  border-left: 5px solid alpha (@accent_color_500, 0.5);
}

.quilter-sidebar-box:active:hover,
.quilter-sidebar-box:focus:hover,
.quilter-sidebar-box:selected:hover {
  border-left: 5px solid alpha (@accent_color_500, 0.7);
}

.quilter-menu {
  border-radius: 99999px;
  -gtk-outline-radius: 99999px;
  background-color: #e8dccb;
  border: 1px solid #e8dccb;
}

.osd {
  background-image: none;
  background-color: #e8dccb;
  box-shadow: none;
  border: 1px solid #e8dccb;
  color: #3b3228;
  -gtk-icon-shadow: 1px 1px transparent;
}

.osd:active,
.osd:focus {
  background-image: none;
  background-color: shade(#e8dccb,0.88);
  box-shadow: none;
  border: 1px solid shade(#e8dccb,0.88);
}
