.color-button {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-shadow: 1px 1px transparent;
    padding: 3px;
}

.color-dark {
    background-color: #151611;
    border: 1px solid #050601;
    box-shadow:
        inset 0 0 0 1px alpha (shade (#353631, 1.4), 0.05),
        inset 0 1px 0 0 alpha (#353631, 0.45),
        inset 0 -1px 0 0 alpha (#555651, 0.15);
    background-image:
        linear-gradient(
            to bottom,
            transparent,
            transparent 50%,
            alpha (
                #333,
                0.04
            )
        );
}

.color-dark:focus {
    border-color: #52ADF8;
    box-shadow:
        inset 0 1px 0 0 alpha (#353631, 0.45),
        inset 0 -1px 0 0 alpha (#353631, 0.15),
        0 0 0 1px alpha (#A3A3A1, 0.25);
    transition: all 100ms ease-out;
}

.color-dark image {
    color: #C3C3C1;
    -gtk-icon-shadow: 1px 1px transparent;
}

.color-light {
    background-color: #F9F9F9;
    border: 1px solid #BFBFBF;
    box-shadow:
    inset 0 0 0 1px alpha (shade (#dddddd, 1.4), 0.05),
        inset 0 1px 0 0 alpha (#dddddd, 0.45),
        inset 0 -1px 0 0 alpha (#cccccc, 0.15);
        background-image:
        linear-gradient(
            to bottom,
            transparent,
            transparent 50%,
            alpha (
                #000,
                0.04
            )
        );
}

.color-light:focus {
    border-color: #52ADF8;
    box-shadow:
        inset 0 1px 0 0 alpha (#dddddd, 0.45),
        inset 0 -1px 0 0 alpha (#dddddd, 0.15),
        0 0 0 1px alpha (#eeeeee, 0.25);
    transition: all 100ms ease-out;
}

.color-light image {
    color: #191919;
    -gtk-icon-shadow: 1px 1px transparent;
}

.color-sepia {
    background-color: #F0E8DD;
    border: 1px solid #d0b896;
    box-shadow:
        inset 0 0 0 1px alpha (shade (#e0c8a6, 1.4), 0.05),
        inset 0 1px 0 0 alpha (#e0c8a6, 0.45),
        inset 0 -1px 0 0 alpha (#8D7768, 0.15);
    background-image:
        linear-gradient(
            to bottom,
            transparent,
            transparent 50%,
            alpha (
                #807452,
                0.04
            )
        );
}

.color-sepia:focus {
    border-color: #52ADF8;
    box-shadow:
        inset 0 1px 0 0 alpha (#e0c8a6, 0.45),
        inset 0 -1px 0 0 alpha (#e0c8a6, 0.15),
        0 0 0 1px alpha (#d0b896, 0.25);
    transition: all 100ms ease-out;
}

.color-sepia image {
    color: #5D4738;
    -gtk-icon-shadow: 1px 1px transparent;
}

.small-text {
    font-family: 'Quilt Mono';
    font-size: 1.45rem;
    letter-spacing: 2px;
}

.focus-text {
    font-family: 'Quilt Mono';
    font-size: 1.55rem;
    letter-spacing: 2px;
}