.small-text {
    font-family: 'Quilt Mono';
    font-size: 13.2px;
    letter-spacing: 2px;
}

.medium-text {
    font-family: 'Quilt Mono';
    font-size: 16.4px;
    letter-spacing: 2px;
}

.big-text {
    font-family: 'Quilt Mono';
    font-size: 19.6px;
    letter-spacing: 2px;
}
