@define-color accent #3584e4;
@define-color color_primary #111;

.quilter-sidebar {
    background: shade(mix(@accent, @color_primary, 0.88), 0.90);
}

.quilter-sidebar list,
.quilter-sidebar treeview.view {
    background: shade(mix(@accent, @color_primary, 0.88), 0.90);
}

.quilter-sidebar-box {
    background-color: shade(mix(@accent, @color_primary, 0.88), 0.90);
}

.quilter-sidebar-box:selected,
.quilter-sidebar-box:active,
.quilter-sidebar-box:hover {
    background-color: shade(mix(@accent, @color_primary, 0.88), 1.5);
}

.quilter-menu {
    background-color: shade(@color_primary, 1.5);
}

.quilter-focus-button {
    background-color: shade(@color_primary, 1.5);
}
