.small-text {
    font-size: 1.22223em;
    letter-spacing: 2px;
}

.medium-text {
    font-size: 1.33334em;
    letter-spacing: 2px;
}

.big-text {
    font-size: 1.66667em;
    letter-spacing: 2px;
}

.mono-font {
    font-family: 'Quilt Mono';
}

.vier-font {
    font-family: 'Quilt Vier';
}

* {
    font-family: 'Open Sans';
}
