@define-color color_primary #f6f5f4;
@define-color accent #3584e4;

.quilter-sidebar,
.quilter-sidebar list,
.quilter-sidebar treeview.view {
    background: mix (@accent, @color_primary, 0.90);
    color: @theme_fg_color;
}

.quilter-sidebar-box {
    color: @theme_fg_color;
}

.quilter-sidebar-box button {
    color: @theme_fg_color;
}

.quilter-sidebar-box:focus,
.quilter-sidebar-box:selected,
.quilter-sidebar-box:active,
.quilter-sidebar-box:hover {
    background: shade(mix (@accent, @color_primary, 0.90), 0.88);
}

.quilter-sidebar-box:active:backdrop,
.quilter-sidebar-box:selected:backdrop,
.quilter-sidebar-box:focus:backdrop,
.quilter-sidebar-box:hover:backdrop  {
    background: alpha(shade(mix (@accent, @color_primary, 0.90), 0.88), 0.88);
}

.quilter-menu {
    background: shade(@color_primary, 1.04);
}

.quilter-focus-button {
    background: shade(@color_primary, 1.1);
}
