@define-color colorPrimary #EFF0F1;
@define-color textColorPrimary #4D4D4D;

.quilter-window {
    background-color: @colorPrimary;
}
.quilter-toolbar {
    background-color: @colorPrimary;
    background: @colorPrimary;
    border-bottom-color: transparent;
    color: @textColorPrimary;
    box-shadow: inset 0px 1px 1px 2px @colorPrimary;
}
actionbar,
.action-bar,
.quilter-statusbar {
    background-color: @colorPrimary;
    background-image: none;
    border-top-color: transparent;
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: inset 0px 1px 1px 2px @colorPrimary;
}
